<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLEAN_STOCK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CLEAN_STOCK.Properties.Settings>
            <setting name="path" serializeAs="String">
                <value>C:\Users\ni88\Desktop\workspace\STOCK</value>
            </setting>
            <setting name="extension1" serializeAs="String">
                <value>*.stl</value>
            </setting>
            <setting name="extension2" serializeAs="String">
                <value>*.vis</value>
            </setting>
            <setting name="days" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="logfile" serializeAs="String">
                <value>logfiles\</value>
            </setting>
            <setting name="delete" serializeAs="String">
                <value>False</value>
            </setting>
        </CLEAN_STOCK.Properties.Settings>
    </userSettings>
</configuration>